{% load static %}
<html>

<head>
    <title>
        {% block title %}{% endblock %}Exploratory Project
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% include "components/header.html" %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include "components/footer.html" %}
</body>

</html>